/* Declared CSS variables for background color and font color.*/
:root {
    --bg-color: #13432C;
    --bg-color2: #236261;
    --contrast-color: #DB580D;
    --heading-color: #8FAB91;
}

body {
    font-family: monospace;
}

.App {
    display: flex;
    flex-direction: column;
    /* overflow:auto; */
}

header {
    background-image: linear-gradient(var(--bg-color), var(--bg-color2));
    display: flex;
    justify-content: space-between;
    padding: 5% 1% 5% 5%;
    align-items: center;
    color: var(--heading-color);

    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;

    /* Adds a transition effect when the padding is decreased */
    transition: 0.4s;
}

header h1 {
    text-shadow: 0 0 8px var(--heading-color);
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 400px;
}

header nav ul li a {
    color: var(--heading-color);
}

header #hamburger {
    visibility: hidden;
    color: var(--heading-color);
}

/* Hide the links inside the navigation menu */
header #myLinks {
    display: none;
}

/* Style navigation menu links */
#myLinks a {
    color: var(--heading-color);
    font-weight: bold;
    text-decoration: none;
    display: block;
}


#myLinks a:hover {
    text-decoration: underline;
}

#contact li,
#contact a {
    color: var(--heading-color);
}

/* When user hovers over the link it will be underlined. */
nav ul li a:hover {
    text-decoration: underline;
}

.section {
    padding: 2%;
    background-color: #FAE9E1;
}

.section h2 {
    color: var(--bg-color);
    border-bottom: 1px solid var(--contrast-color);
    margin: 2%;
}

#about div {
    display: flex;
    align-items: center;
}

#about div img {
    width: 150px;
    height: auto;
    /* Made the photo oval. */
    border-radius: 50%;
}

#about div p {
    padding: 2%;
}

#work div #project-img {
    margin: 2%;
    border: 1px solid var(--bg-color);
    background-color: var(--bg-color);
    color: var(--contrast-color);
    width: 50%;
}

#repoLink {
    color: var(--contrast-color);
    padding: 0 2%;
}

#repoLink :hover {
    color: var(--bg-color);
}

/* Box shadow is given to each project container when user hovers on it. */
#work div #project-img:hover {
    box-shadow: 0px 0px 15px var(--bg-color);
}

#work div #project-img figure {
    background-image: linear-gradient(0.25turn, var(--bg-color), var(--bg-color2));
}

#work div #project-img figure img {
    /* The height: auto will set the height according to the width so the aspect ratio is good. */
    width: 100%;
    height: auto;
}

#work div #project-img figcaption {
    color: var(--heading-color);
    text-align: center;
    font-size: xx-large;
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
}
.project .description {
    width: 50%;
    margin: 2%;
}

.project h3, .project h4 {
    color: var(--bg-color);
    padding: 1%;
}

.project .tech {
    color: var(--contrast-color);
}

form {
    margin: 20px;
}

form input {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 50%;
    border: solid 1px var(--contrast-color);
}

form textarea {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 50%;
    border-color: var(--contrast-color);

}

form button {
    padding: 4px;
    background-color: var(--bg-color);
    color: var(--heading-color);
}

.error-text {
    color: var(--bg-color);
    margin-left: 20px;
}

#contact nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    flex-wrap: wrap;
}

nav ul li {
    font-weight: bold;
}

svg {
    vertical-align: middle;
}

footer {
    background-image: linear-gradient(var(--bg-color), var(--bg-color2));
    text-align: center;
    padding: 0.5%;
    color: var(--heading-color);
}

/* Media queries */
@media screen and (max-width: 768px) {

    /* For the navigation links to come in next line of name. */
    header {
        flex-direction: column;
    }

    /* In the contact section, only 2 contact details will be in a row. */
    #contact nav ul li {
        width: 40%;
        margin: 2%;
    }

    header nav ul {
        right: unset;
    }
}

@media screen and (max-width: 576px) {

    /* The introduction will come at the bottom of the photo. */
    #about div {
        flex-direction: column;
    }

    .project {
        flex-direction: column;
        margin: 1%;
    }

    /* Description will always come below the project image */
    .project .description {
        order: 2;
    }

    form input, form textarea {
        width: 80%;
    }

    /* In the contact section, only 1 contact detail will be in a row. */
    #contact nav ul li {
        width: 90%;
    }

    #repoLink {
        padding: 0;
    }
}

@media screen and (max-width: 425px) {
    header nav ul {
        flex-direction: column;
        margin: 2%;

        align-items: center;
    }

    header nav ul {
        display: none;
    }

    header #hamburger {
        visibility: visible;
    }

    form input, form textarea {
        width: 100%;
    }
}